/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5a01a2;
  --ifm-color-primary-dark: #510192;
  --ifm-color-primary-darker: #4d018a;
  --ifm-color-primary-darkest: #3f0171;
  --ifm-color-primary-light: #6301b2;
  --ifm-color-primary-lighter: #6801ba;
  --ifm-color-primary-lightest: #7501d3;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fbff00;
  --ifm-color-primary-dark: #e2e600;
  --ifm-color-primary-darker: #d5d900;
  --ifm-color-primary-darkest: #b0b300;
  --ifm-color-primary-light: #fbff1a;
  --ifm-color-primary-lighter: #fcff26;
  --ifm-color-primary-lightest: #fcff4d;
}
