/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0120bc;
  --ifm-color-primary-dark: #011da9;
  --ifm-color-primary-darker: #011ba0;
  --ifm-color-primary-darkest: #011684;
  --ifm-color-primary-light: #0123cf;
  --ifm-color-primary-lighter: #0125d8;
  --ifm-color-primary-lightest: #012af4;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fbff00;
  --ifm-color-primary-dark: #e2e600;
  --ifm-color-primary-darker: #d5d900;
  --ifm-color-primary-darkest: #b0b300;
  --ifm-color-primary-light: #fbff1a;
  --ifm-color-primary-lighter: #fcff26;
  --ifm-color-primary-lightest: #fcff4d;
}
